/* You can add global styles to this file, and also import other style files */
#header {
    text-align: center;
    background-color: #DDD;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 20px;
}