<div id="header">
    <h1>Select A Puzzle</h1>
</div>
<div id="cardHolder">
    <div class="card" routerLink="/nqueens">
        <img src="assets/images/nqueens.png">
        <h2>N-Queens Puzzle</h2>
        <p>Solves the N-Queens problem using a backtracking algorithm. Options for pre-configuring the board available</p>
    </div>
    <div class="card" routerLink="/polysphere">
        <img src="assets/images/polysphere.png">
        <h2>Polysphere Puzzle</h2>
        <p>Solves a Kanoodle puzzle using the dancing links algorithm. Options for pre-confuring the board available</p>
    </div>
    <div class="card" routerLink="/polysphere3d">
        <img src="assets/images/polysphere.png">
        <h2>Polysphere Puzzle 3D</h2>
        <p>Test 3d matrix here</p>
    </div>
</div>
