#cardHolder {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    padding: 25px 25px 0px 25px;
}

.card:hover {
    cursor: pointer;
}

.card > * {
    width: 300px;
}

h2 {
    font-size: 1.8rem;
}

img {
    margin-bottom: 20px;
}