<button routerLink="/" type="button" id="backButton" class="btn btn-secondary">Back</button>

<div id="header">
  <h1>N-Queens Completion Puzzle</h1>
</div>

<div>

    <h2>Enter Board Size</h2>
    
    <!-- Input section -->
    <div class="n-outer-box">
      <div class="input-group mb-3 n-inner-box">
        <input type="number" class="form-control n-input-box" placeholder="8" max="{{ maxSquares }}" min="{{ minSquares }}" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="nSquares">
        <button class="btn btn-secondary input-btn" type="button" id="button-addon2" (click)="generateBoard()">Generate</button>
      </div>
    </div>
    
    <ChessBoard *rerender="nSquaresGenerated" [nSquares]="nSquaresGenerated"></ChessBoard>

    <!-- Button section -->
    <div class="table-btn">
      <button type="button" (click)="clearInput()" class="btn btn-secondary solve-btn">Clear</button>
      <button type="button" (click)="solveNQueens()" class="btn btn-secondary solve-btn">Solve</button>
    </div>

</div>
